.countries {
  display: flex;
}
/* Add your own CSS code below */
.countries--first {
  align-items: center;
}
.countries--second {
  flex-direction: row-reverse;
  align-items: end;
}
.countries--third {
  align-items: end;
  flex-direction: column;
}

.countries--fourth {
  flex-direction: column-reverse;
  align-items: center;
}
